# This is a basic workflow to help you get started with Actions

name: CI of a .NET application

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  run-selected-unittests:
    # The type of runner that the job will run on
    runs-on: windows-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    name: Run MSBuild and NUnitTest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v2
        
      # Runs a single command using the runners shell
      - name: Setup MSBuild and add to PATH
        uses: microsoft/setup-msbuild@v1.0.0
        id: setup_msbuild

      # Runs a set of commands using the runners shell
      - name: Run MSBuild
        id: run_msbuild
        run: |
          msbuild .\QR.sln /t:clean /p:Configuration=Debug /p:AllowUnsafeBlocks=true
          nuget restore .\QR.sln 
          msbuild .\QR.sln /t:build /p:Configuration=Debug
          
         
